# Name: Margaret Nguyen

# Data Manipulation: Merging BNA data and Pennsylvania municipality data


Assignment: Merge the 51 municipalities from Pennsylvania that you obtained the people for bikes BNA score for with the data from the CSV file. They should all be present in the CSV plus another 2530 some odd other municipalities. You will likely have to merge them using the name of the municipality, but be careful as there are municipalities in Pennsylvania that have very similar names, i.e (Lancaster township & Lancaster City).

In [42]:
# Import packages
import pandas as pd
import re

In [43]:
# Read the csv files 
crash_data = pd.read_csv("/Users/margaret06/Documents/GitHub/Carlisle_Borough_Transportation_Study/data/2017_TO_2021_MUNI_CRASH_DATA.csv", low_memory=False)
bna = pd.read_csv("/Users/margaret06/Documents/GitHub/Carlisle_Borough_Transportation_Study/data/BNA_score.csv", low_memory=False)

In [44]:
# Clean datasets
df_bna = bna.drop(columns = ['Unnamed: 0'])
df_crash = crash_data.drop(columns = ['Unnamed: 0'])

# Keep only Pennsylvania municipalities from the BNA dataframe
df_pa = df_bna[df_bna["State"]=="PA"]

# Drop Country columns
df_pa = df_pa.drop(["Country"], axis=1)

# Reset index
df_pa = df_pa.reset_index(drop=True)

# View Pennsylvania municipalities data
df_pa.head(10)

        City State  BNA Score
0  Allentown    PA         29
1    Altoona    PA         36
2    Ardmore    PA         41
3     Athens    PA         23
4     Beaver    PA         36
5   Bellwood    PA         31
6  Bethlehem    PA         27
7  Birdsboro    PA         59
8  Camp Hill    PA         28
9   Carlisle    PA         38

In [45]:
df_pa

                 City State  BNA Score
0           Allentown    PA         29
1             Altoona    PA         36
2             Ardmore    PA         41
3              Athens    PA         23
4              Beaver    PA         36
5            Bellwood    PA         31
6           Bethlehem    PA         27
7           Birdsboro    PA         59
8           Camp Hill    PA         28
9            Carlisle    PA         38
10          Cranberry    PA         24
11         Doylestown    PA         43
12             Easton    PA         24
13             Emmaus    PA         55
14               Erie    PA         41
15       Harleysville    PA         54
16         Harrisburg    PA         27
17        Hummelstown    PA          8
18          Lancaster    PA         25
19           Lansdale    PA         27
20          Lansdowne    PA         36
21            Lebanon    PA         17
22           McMurray    PA         21
23      Mechanicsburg    PA         24
24              Media    PA         40
25        Mifflinburg    PA         60
26  Nether Providence    PA         20
27    Newton Hamilton    PA         18
28        Old Orchard    PA         41
29     Palmer Heights    PA         12
30              Paoli    PA         19
31             Peters    PA         21
32       Philadelphia    PA         57
33       Phoenixville    PA         21
34               Pine    PA         22
35         Pittsburgh    PA         28
36          Pottstown    PA         28
37            Reading    PA         17
38           Robinson    PA         27
39         Schuylkill    PA         15
40           Scranton    PA         27
41         Slatington    PA         35
42       Spring House    PA         21
43      State College    PA         50
44             Tatamy    PA         16
45             Verona    PA         26
46         Warminster    PA         23
47             Warren    PA         35
48              Wayne    PA         43
49       West Chester    PA         60
50         West Grove    PA         15
51               York    PA         27

In [47]:
# Lower the city name from PA dataframe
df_pa["City"] = df_pa["City"].str.lower()

# Lower the city name from the crash dataframe
df_crash["Location"] = df_crash["MUNI_NAME"].str.lower()

# Split the location from the crash dataframe for merging
df_crash["Municipal Divisions"] = df_crash["Location"].str.split(' ').str[-1] # Municipal Divisions such as borough, township, and borough
df_crash["First Municipality"] = df_crash["Location"].str.split(' ').str[0]
df_crash["Second Municipality"] = df_crash["Location"].str.split(' ').str[1]

# Define a function to conditionally concatenate columns
def concatenate_municipalities(row):
    if "borough" not in row["Second Municipality"] and "city" not in row["Second Municipality"] and\
    "township" not in row["Second Municipality"]:
        return row["First Municipality"] + " " + row["Second Municipality"]
    else:
        return row["First Municipality"]

# Apply the function to create a new column
df_crash["City"] = df_crash.apply(concatenate_municipalities, axis=1)

# Drop unnecessary columns
df_crash = df_crash.drop(columns=["Location", "First Municipality", "Second Municipality"])

In [49]:
df_crash

,NAME,PENN_DOT_MUNI_ID,state,county,county_subdivision,POPULATION,LAND_AREA,BIKE_TO_WORK_EST,BIKE_TO_WORK_MARG,WALK_TO_WORK_EST,...,PED_DEATH_BY_AUTO_COUNT,PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT,BICYCLE_SOLO_COUNT,BICYCLE_DEATH_SOLO_COUNT,BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT,PED_SOLO_COUNT,PED_DEATH_SOLO_COUNT,PED_SUSP_SERIOUS_INJ_SOLO_COUNT,Municipal Divisions,City
0,"Philadelphia city, Philadelphia County",67301,42,101,60000,1596865,134.1,14172,940,54269,...,82.0,214.0,505.0,10.0,24.0,2655.0,83.0,227.0,city,philadelphia
1,"Pittsburgh city, Allegheny County",2301,42,3,61000,303207,55.4,1920,290,15005,...,6.0,75.0,54.0,1.0,8.0,332.0,16.0,43.0,city,pittsburgh
2,"State College borough, Centre County",14410,42,27,73808,40352,4.6,729,297,3963,...,0.0,3.0,12.0,0.0,3.0,42.0,0.0,3.0,borough,state college
3,"Erie city, Erie County",25302,42,49,24000,95536,19.1,329,191,2003,...,3.0,10.0,52.0,0.0,1.0,94.0,5.0,12.0,city,erie
4,"Ferguson township, Centre County",14206,42,27,25624,19236,47.7,259,116,335,...,0.0,0.0,3.0,1.0,0.0,3.0,0.0,1.0,township,ferguson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2564,"Pine township, Crawford County",20215,42,39,60312,429,6.5,0,11,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,township,pine
2565,"Richmond township, Crawford County",20217,42,39,64600,1359,36.7,0,11,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,township,richmond
2566,"Rockdale township, Crawford County",20218,42,39,65440,1258,36.0,0,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,township,rockdale
2567,"Rome township, Crawford County",20219,42,39,65960,1879,41.3,0,11,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,township,rome
2568,"York Haven borough, York County",66436,42,133,87080,887,NaN,0,11,2,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,1.0,borough,york haven

In [ ]:
df_crash[]

# Merge dataframes
df_pa_crash = df_crash.merge(df_pa, how="inner", on="City")

# View dataframe
df_pa_crash.head(10)

In [ ]:
# Extract the city name from crash dataframe for matching names (merging)
df_pa_crash["NAME"] = df_pa_crash["City"].str.split('\n')

In [6]:
# Assuming 'data' is a subdirectory in your current working directory
folder_path = 'data/'
file_name = 'df_pa_crash.csv'

# Combine the folder path and file name to create the full file path
full_file_path = folder_path + file_name

# Export dataframe to csv file
df_pa_crash.to_csv(full_file_path, index=True)